@import './base/reset';
@import './base/variables';

body {
	background-color: $paper;
	margin: 50px;
	p {
		color: $charcoal;
		font-family: $alice;
		/*font-weight: bold;*/
	}
	.hide {
		display: none;
	}
	.sketch {
		border: 10px solid gray; 
		height: 500px;
	}
}

/*Buttons*/
/*Intructions*/

